<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul>
        <li><a class="navbar-brand" href="/">
            <div class="logo-image">
                  <img src="/images/favicon-96x96-removebg-preview.png" class="img-fluid">
            </div>
        </a></li>
    
        <li><a class="active logout-button" href="#home">Logout <i class="fa fa-sign-out"></i></a></li>
    </ul>
</nav>