<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="row-nav">
        <div class="title vertical-border">
      <img src="images/machine_3.jpeg" class="img-fluid" />
    </div>
    <div class="title">
      <h2 class="title-h2">UMANG BOREWELL</h2>
    </div>
</div>
    <ul class="navbar-nav">

      <li class="nav-item">
        <a href="#" class="nav-link"><i class="fa fa-phone"></i> Contact Us</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"><i class="fa fa-sign-out"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>
