<section class="container-fluid">
      <nav class="navbar navbar-expand">
            <div class="title">
                  <img src="images/machine_3.jpeg" class="img-fluid">
            </div>
        
        <div class="title">                 
            <h2>UMANG BOREWELL</h2>
        </div>
        
        <div class="navbar-menu">                 
        <ul class="navbar-nav">
            <li><a href="#" class="nav-link"><i class="fa fa-home" ></i> Home</a></li>
            <li><a href="#" class="nav-link"><i class="fa fa-sign-out" ></i> Logout</a></li>
        
        </ul>
        </div>
  </nav>
</section>
