<section class="container-fluid">
      <nav class="navbar navbar-expand">
            <div class="title logo-image">
                  <img src="images/favicon-96x96-removebg-preview.png" class="img-fluid">
            </div>
        
        <div class="title">                 
            <h2>UMANG BOREWELL</h2>
        </div>
        
        <div class="logo-image">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

            </ul>
        </div>
  </nav>
</section>
