<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a href="/dashboard"
      ><div class="row-nav">
        <div class="title vertical-border">
          <img src="images/machine_3.jpeg" class="img-fluid" />
        </div>
        <div class="title">
          <h2 class="title-h2">UMANG BOREWELL</h2>
        </div>
      </div></a
    >
    <ul class="navbar-nav ml-auto">
      <%if(res && !res.profile){%>
      <li class="nav-item">
        <a href="#" class="nav-link"><i class="fa fa-phone"></i> Contact Us</a>
      </li>
      <%}%> <%if(res && res.profile){%>
      <li class="nav-item">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="/images/profile-pic.png"
            width="40"
            height="40"
            id="userProfile-pic"
            class="rounded-circle user_profile"
          />
          <%=res.profile ? res.profile.firstName : null %> <%=res.profile ?
          res.profile.lastName : null%>
        </a>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdown"
        >
          <a class="dropdown-item dropdown">
            Role: <%=res.profile ? res.profile.role : null%>
          </a>
          <a class="dropdown-item dropdown" href="/profile"> My Profile </a>
          <a class="dropdown-item dropdown" href="/logout"> Logout</a>
        </div>
      </li>
      <%}%>
    </ul>
  </div>
</nav>

<div class="loader-pg-center">
  <div class="loader-inside">
    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i><br />
    <h1>Loading</h1>
    <p class="lead">Please Wait</p>
  </div>
</div>
