<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="css/workOrderEstimate.css" type="text/CSS" />
    <script src="/js/addWorkOrder.js"></script>
  </head>

  <body>
    <header><%- include('./partials/header') %></header>
    <div class="workOrderEstimateForm"> 
      <h2>QUOTATION</h2>
      <div class="container">
        <p class="blessings">!! Jai Mata Di !!</p>
        <div class="esitmateTitle">
          <div class="image-sec col-md-4">
            <img src="images/machine_3.jpeg" class="img-fluid" />
          </div>
          <div class="col-md-8">
            <h2 class="esitmateTitle-h2">UMANG BOREWELL</h2>
            <p class="details">Deal in all types of Tube Well work.<br> 
              Contact for digging tube wells at plots, houses and farms at reasonable rates <br></p>
            <p class="myAddress"> <b>Address:</b> Madan Colony, Sadar Bazar, Narmadapuram (M.P.)</p>
          </div>
        </div>
        <div class="estimateDetails">
          <div class="serialNo"><h4>Quotation Number:</h4></div>
          <div class="quotationHeading"><h4>QUOTATION</h4></div>
          <div class="quotationDate"><h4>Date: </h4></div>
        </div>
        <div class="customerName"><h4>Customer Name: </h4></div>
        <form onsubmit="submitWorkOrderQuotation(event)"
        id="addWorkOrderQuotationForm"
        >
        <div class="quotationGrid" id="loadQuotationGrid">
        </div>
      </form>
      <div class="estimateFooter">
        <div class="right"><h4>Prop. Banti Sahu</h4></div>

        <div class="left"><p><b>NOTE: 50% advance will have to be given before boring.</b> </p>
        <h5>Contact Number: 9755378758, 9827550029</h5></div>
      </div>
    </div>
  
    <div class="addWorkOrderButton" id="workOrderQuotationSubmitBtn">
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-paper-plane"></i> Submit
      </button>
    </div>
  </div>
    <footer><%- include('./partials/footer') %></footer>
  </body>
</html>
