@media screen and (max-width: 2560px) {
  .addWorkOrderForm {
    margin: 2% auto;
    width: 25%;
  }

  .addWorkOrder-form {
    line-height: 30px;
  }

  .addWorkOrderForm h2 {
    font-weight: 800;
    font-size: 30px;
    color: #de6262;
  }

  .addWorkOrderButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }

  .nameInput{
    padding: 0 0 0 2px;
  }

}
