@media screen and (max-width: 2560px) {
  .manageItems {
    margin: 3% 15%;
  }
  .manageItems h2 {
    font-weight: 800;
    color: #de6262;
  }
  .container {
    background: white;
    border: 3px solid cornflowerblue;
  }

  .tableData {
    width: 50%;
    float: left;
  }

  .adjustSelect {
    width: 35%;
    height: 35px;
    float: left;
    background-color: peachpuff;
    font-weight: 500;
  }
  a {
    color: black;
  }
  #submit-btn-editItems {
    float: right;
    margin: 15px 0;
  }
}
