@media screen and (max-width: 2560px) {
  .manageItems {
    margin: 3% 15%;
  }
  .manageItems h2 {
    font-weight: 800;
    color: #de6262;
  }
  .container-enabled {
    background: white;
    border: 3px solid cornflowerblue;
  }
  .container-disabled {
    background: white;
    border: 3px solid cornflowerblue;
    margin: 20px 0;
  }

  .tableHeading {
    text-align: center;
    font-size: larger;
  }

  .tableData {
    width: 50%;
    float: left;
  }

  .adjustSelect {
    width: 40%;
    height: 35px;
    float: left;
    background-color: peachpuff;
    font-weight: 500;
  }
  a {
    color: black;
  }

  #submit-btn-updateItems {
    float: right;
    margin: 15px 0;
  }

  .disabled {
    background-color: lightgray;
  }

  .actionButtons {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  #itemCategories {
    margin-top: 25px;
  }
}
