@media screen and (max-width: 2560px) {
  .myProfileForm {
    margin: 2% auto;
    width: 30%;
  }

  .myProfileForm button{
    margin-right: 10px;
}

  .myProfile-form {
    line-height: 30px;
  }

  .myProfileForm h2 {
    font-weight: 800;
    font-size: 30px;
    color: #de6262;
  }

  .editProfileButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }
}
