 .logo-image {
  margin-top: 15px;
}

.title{
  width: 100px;
  height: 46px;
  border-radius: 50%;
  margin-left: 30px;
  float: left;
  font-weight: bolder;
  color: #e02826	;
}
.container-fluid{
  height: 100px;
  background-color: white;

}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #dc3045;
  color: white;
  text-align: center;
}

.footer-copyright{
  margin-top: 15px;
}



