.navbar {
  height: 100%;
  background: white;
  padding-bottom: 0rem !important;
}

.navbar-nav {
  align-items: left;
}

.title {
  width: 150px;
  float: left;
  font-weight: bolder;
}

.title-h2{
  text-align: left;
  padding-left: 20px;
}

.navbar-menu {
  width: 100%;
  border-radius: 50%;
  margin-left: 20px;
  float: right;
  font-weight: bolder;
}

.container-fluid {
  width: 100%;
  color: #de6152;
}
.vertical-border {
  border-right: 2px solid;
  margin-left: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  color: white;
  text-align: center;
}

.footer-copyright {
  margin-top: 15px;
}
